{% extends "base.twig" %}

{% block head %}{% endblock %}

{% block title %}{{lang.Name}} Information{% endblock %}

{% block body %}

<h2 class="f2 light-red">Description</h2>
<p>
    {{lang.Desc}}
</p>

<h2 class="f2 light-red">Search Results:</h2>
{% if words|length > 0 %}

    <ul class="list">
    {% for word in words %}
        <li>
            <strong>{{word.Romanisation}}</strong>
            <i>{{word.Pronunciation}}</i>
            <ul class="list">
            {% for gloss in word.Meanings %}
            <li>{{gloss}}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>

{% else %}
    <i>No languages found</i>
{% endif %}


{% endblock %}

{% block scripts %}{% endblock %}