<li class="w-100 bg-moon-gray mv2 pa3">
    <strong class="db f2 pb2 lh-solid">
        {{word.Romanisation}}
    </strong>
    <i class="db f4 pb3">
        /{{word.Pronunciation}}/
    </i>
    {% if word.Tags %}
        <i class="db f4 pb3">
            {% for tag in word.Tags %}{{tag.Tag}}{% endfor %}
        </i>
    {% endif %}

    <div class="">
        <strong class="f4">Meanings:</strong>
        <br>
        <i class="f5 ph3">
            {{word.Meanings|join(', ')}}
        </i>
    </div>

    {% if word.Etymology %}
        <div class="pt3">
            <strong class="f4">Etymology:</strong>
            <br>
            <i class="f5 ph3">
                {{word.Etymology}}
            </i>
        </div>
    {% endif %}
</li>